.nav {
  position: sticky; top: 0;
  z-index: 1;
  padding-right: 5rem;
  padding-left: 5rem;
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 0 30px; */
  background-color: white;
  color: black;
  overflow: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-family: "Exo 2 Bold", sans-serif;
  font-weight: 700;
  color: black;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}
